:root{
    --cerulean: #086788ff;
    --blue-green: #07a0c3ff;
    --jonquil: #f0c808ff;
    --papaya-whip: #fff1d0ff;
    --rojo: #dd1c1aff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* overflow-y: scroll; */
    scrollbar-width: none;
}

body{
    /* background-color: var(--papaya-whip); */
    
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px),
        url("../assests/image/brushed-alum-dark.png");

    background-size: 15px 15px;

    filter: contrast(105%) brightness(95%);

    opacity: 0;
    animation: FadeIn 2s ease-in forwards;
}

@keyframes FadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}


/* ------------------- NAVBAR ------------------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);

    position: sticky;
    top: 0;
    /* z-index: 100; */

    padding: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
}

.container-nav{
    display: flex;
    flex-direction: row;

    gap: 3rem;
    padding: 7px;
    transform: translateX(-3rem);

}

.nav-link{
    font-size: 1.15em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

    /* color: var(--cerulean); */
    color: rgba(0, 0, 0, 0.7);
    transition: 0.5s ease-out;
}

.nav-link:hover{
    color: var(--rojo);
    fill: var(--rojo);
    transition: 0.3s ease-in;
}
/* ------------------------------------------- */


/* ----------------- MAIN ------------------ */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px 0;
    height: 700px;

    /* border: 2px solid var(--cerulean); */
    /* transition: 2s ease-in; */
}


/* ----------------------------------------- */


/* -------------- FOOTER ------------------- */
footer{
    display: flex;      
    justify-content: center;
    align-items: center;
    height: 100px;

    border: 2px solid var(--cerulean);
    margin-bottom: 20px ;
}
/* ----------------------------------------- */