:root{
    --cerulean: #086788ff;
    --blue-green: #07a0c3ff;
    --jonquil: #f0c808ff;
    --papaya-whip: #fff1d0ff;
    --rojo: #dd1c1aff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* overflow-y: scroll; */
    scrollbar-width: none;
}

body{
    /* background-color: var(--papaya-whip); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.1) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.1) 1px, transparent 1px),
        url("../assests/image/brushed-alum-dark.png");

    background-size: 15px 15px;

    filter: contrast(105%) brightness(95%);

    opacity: 0;
    animation: FadeIn 2s ease-in forwards;
}

@keyframes FadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}


/* ------------------- NAVBAR ------------------- */
header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);

    position: sticky;
    top: 0;
    z-index: 10;

    padding: 3px;
    margin: 10px 20px 10px 20px;
    border-radius: 100px;
    border: 3px solid #ddd;
    box-shadow: 
    8px 5px 15px rgba(0, 0, 0, 0.1),
    -8px -8px 15px rgba(0,0,0,0.1),
    inset 8px 8px 15px rgba(0, 0, 0, 0.1),
    inset -8px -8px 15px rgba(0,0,0,0.1);
}

.container-nav{
    display: flex;
    flex-direction: row;


    /* border:2px solid var(--cerulean);  */
    gap: 3rem;
    padding: 10px;
    transform: translateX(-3rem);

}

.nav-link{
    font-size: 1.15em;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;

    /* color: var(--cerulean); */
    color: rgba(0, 0, 0, 0.7);
    transition: 0.5s ease-out;
}

.nav-link:hover{
    color: var(--rojo);
    fill: var(--rojo);
    transition: 0.3s ease-in;
}
/* ------------------------------------------- */


/* ----------------- MAIN ------------------ */
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px 0;
    /* height: 100%; */
}

.container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);

    padding: 20px;
    margin: 30px 20px 10px 20px;

    height: 100%;
    width: 90%;

    
    border-radius: 5px;
    border: 3px solid rgba(221, 221, 221, 0.8);
    box-shadow: 
        5px 5px 15px rgba(0, 0, 0, 0.1),
        -5px -5px 15px rgba(0, 0, 0, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 15px rgba(0, 0, 0, 0.1);
        
}

.container-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.pinned,
.recent,
.others {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

    padding: 20px;
    margin: 20px;
    gap: 20px;

    border-radius: 15px;
    box-shadow: 
        5px 5px 15px rgba(0, 0, 0, 0.1),
        -5px -5px 15px rgba(0, 0, 0, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 15px rgba(0, 0, 0, 0.1);
        
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
}


.container-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    border: 2px solid var(--cerulean);
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 200px;
    margin: 10px;
    border: 2px solid var(--cerulean);
    border-radius: 10px;
    box-shadow: 
        5px 5px 15px rgba(0, 0, 0, 0.1),
        -5px -5px 15px rgba(0, 0, 0, 0.1),
        inset 5px 5px 15px rgba(0, 0, 0, 0.1),
        inset -5px -5px 15px rgba(0, 0, 0, 0.1);

    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}



/* ----------------------------------------- */


/* -------------- FOOTER ------------------- */
footer{
    display: flex;      
    justify-content: center;
    align-items: center;
    height: 100px;

    border: 2px solid var(--cerulean);
    margin:20px;
}
/* ----------------------------------------- */